@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
* {
    font-family: "Josefin Sans", serif, monospace;
    /* font-family: 'Courier New', Courier; */
    /* border: 1px red solid; */
    box-sizing: border-box;
}


.page {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

body {
    margin: 0px;
}

#first {
    background-color: #deebed;
    justify-content: space-between;
    text-align: centerd;
    }

#second {
    background-color: #6aa29e;
}

#third {
    background-color: #deebed;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    background-color: #112748;
    padding: 0px 2rem;
    height: 6rem;
    position: fixed;
    width: 100vw;
}

.header ul {
    display: flex;
    list-style: none;
}

.header ul li {
    margin: 5px;
    padding: 12px;
    
}

.header a {
    text-decoration: none;
    color: white;
}

/* .active {
    background-color: #52555d;
    border-radius: 18px;
}

.active a {
    color: white;

} */

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 90%;
    flex-grow: 1;
    max-width: 100%;
    margin-top: 6rem;
}

.main img {
    max-height: 100%;
    max-width: auto;
}

.main h2 {
    font-size: 48px;
}

.left {
    padding: 3rem;
}

.services {
    height: 60%;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cards {
    display: flex;
    /* height: 60%; */
    width: 100%;
    /* flex-wrap: wrap; */
    gap: 20px;
    padding: 20px;
}

.card {
    max-height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 2px;
    flex-grow: 1;
    background-color: white;
    border: 3px solid black;
    /* border-radius: 3px; */
}

.card img {
    max-width: 100%;
    height: auto;
}

.map {
    box-shadow: 10px 10px 5px grey;
}

h1 {
    color: #deebed;
}

/* #112748,#6aa29e,#deebed,#c4955d,#52555d */

.services h2 {
    text-align: center;
    font-size: 2rem;
}

#first h2 {
    font-family: "Dancing Script";
    font-size: 4rem;
}

#first p{
    font-family: "Dancing Script";
    font-size: 2rem;
}

@media only screen and (max-width: 800px) {
    
    .page {
        height: auto;
        flex-direction: column;
    }

    .header {
        flex-direction: column;
    }

    .main {
        flex-direction: column;
    }

    .cards {
        flex-direction: column;
    } 

    .main img {
        width: 100vw;
    }
}